name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: dvprogio

          template: classic
          base: header, activity, community, repositories
          config_timezone: UTC
          config_animations: no
          plugins_errors_fatal: no


         
